table,th,tr,td{
    border: 3px solid black;
    cursor: pointer;
    border-collapse: collapse;
    border-style:solid;
    width: 95vw;
    height: 25vh;
    
}
td{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{ 
    background-color: beige;
    
}
caption{
    border: 2px solid black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
